html,body{
    margin : 0;
    padding: 0;
    font-family : "Lucida Grande";
    background-color:silver;
}

header{
    height: 80px;
    width : 100%;
    background-color : rgba(8, 8, 8, 0.8);
    position : fixed ; 
    z-index: 10;
    top: 0px;
}

li a{
    transition : color 1s;
}


.header-right{
    float: right;
    height : 77px;
    padding-right : 50px;
}

.header-right li{
    padding : 10px 30px;
    list-style: none;
    color :whitesmoke;
    float: left;
    letter-spacing: 2px;
}

.Welcome {
    float : left;
    color : whitesmoke;
    font-size: 40px;
    opacity: 0.85;
    margin : 15px 0px 10px 25px;
    cursor: default;
}

a{
    text-decoration: none;
    color : whitesmoke;
}

.header-right a{
    display : block;
    height : 77px;
    line-height: 77px;
    margin-top: -26px;
}

/*End of header*/

.first-container{
    width : 100%;
    height : 1000px;
    background-image : url(https://lh3.googleusercontent.com/jVpWKwAjQSLy42GvFUR75c66hUpKFUc32vxdO3G7Xw8iezEYB9XzJDe5VnPOWK77XU4oCmXosyYNTkriZVmK69-fEiTLo32hDK38l7eLABRJUAzIXuGxD4lfNmEFTg7_HTILHgKUX-MNKIcFzkSO9diy0uKG1Tudy7A1OrGZomObYiRV8ro2hCn9G6vCPe_lnecisenE4Ep5rjTLHrID7MIrV0Dk4IUkp0jIZDQLpjHO9G3UdrO2HjeNlfXe9lz9xZ6KZd7nnNGO6emY8iMf4ihZusKz08uxYurptUZTs3DVEWPxcYLkXo7nnWeXXJv9zVPamTLQeGZl4JoDJYcGTMPhE9lc831AdpeKaRh1XLHpBIpNmqehCNWH1Wi1Z_yNGvktLKjdS392b1RsknI2vo8VqFzZcMSzSKFPqvbDmjhQc1glIqtM2PfQzTpCIdENCws-YOZKlkQI9PMrvpQdOaSRSZpLS2UwEyH9evlTIzTujuUtxnAo1YxGWi11gMC08b_p--8MzP4NWHiEnGy3RWk51DZIHF498Qz8t23hxIUYPmTDTLKFolqJ-KvBTjTRYnk-WC1limQIXvNu4seYRiP9KjILEgioiXOSiu6xqLMR9RSeFYMwh6yIygea7EuhVGJFGKExzRJIXlraVPzBRyIx5lfd7BdZ7TzPO7enBQk9baEe93ZqbfbvwL_1Hg=w1228-h819-no);
    background-size: cover;
    box-sizing: border-box;
}

/*End of cover*/

.second-container{
    height : 250px;
    background-image: url(https://wallpaperaccess.com/full/13327.jpg);
    padding-top : 20px;
}

.text1{
    font-size : 22px;
    line-height: 30px;
    padding-left : 20px;
    padding-right: 20px;
    color : whitesmoke;
    opacity: 0.9;
    cursor : default;
}

.text2{
    font-size : 22px;
    line-height: 30px;
    padding-left : 20px;
    padding-right: 20px;
    color : whitesmoke;
    opacity: 0.9;
    cursor : default;
}

.text2 a{
        text-decoration: none;
        color : whitesmoke;
        font-weight: bold;
}

.text3{
    font-size : 22px;
    line-height: 30px;
    padding-left : 20px;
    padding-right: 20px;
    color : whitesmoke;
    opacity: 0.9;
    cursor : default;
}

/* End of second container*/

.third-container{
    height : 340px;
    text-align: center;
    padding : 1%;
    background-image: url(https://wallpapercave.com/wp/PQ2vgJK.jpg);
    background-size: cover;
    margin : 10px 20px 20px 10px;
    box-shadow: 10px 10px 6px grey;
}

.container{                     /*not visible only to adjust*/
    height : 90%;
    width : 90%;
    margin-top : 20px;
    margin-left : 30px;
}

.image-Tanay{
    display: inline-block;
    height : 300px;
    width : 300px;
    margin-top : 0px;
    margin-left : -8%;
    margin-right : -20%;
}

.text{
    border : 2px solid white;
    width : 80%;
    padding : 0px;
    font-size : 38px;
    float : right;
    margin-left : 15%;
    margin-right : -4%;
    margin-top : 2%;
    color : whitesmoke;
    word-spacing: 2px;
    cursor : default;
}
